*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar-list{
    list-style: none;


}
.navbar-list >li{
    margin: 18px;
    padding: 18px;
    display: inline;
    color: brown;
    

}